<div class="contenedor">

    <div class="contenedor-titulo">
        <h2>Logros</h2>
        <div class="btn-edit" onclick="cambiar_parrafo ()">
            <a href="#" class="btn-ok">
                <i class="fa fa-pen"></i>
            </a>
        </div>
    </div>
    <div class="achivements">
        <h3>2</h3>
        <div class="proyect-title">
            <h3>Proyectos Realizados</h3>
            <div class="contenedor">
                <div class="col-sm-12 col-md-7 col-lg-7">
                    <h1>EERR Compañia </h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero voluptatibus soluta vel deserunt
                        reiciendis? Corrupti consequuntur expedita, fuga dolor quam obcaecati recusandae beatae impedit,
                        quis dolorum sequi? In, veniam ipsam?</p>
                </div>
            </div>
        </div>
    </div>


</div>