<div class="contenedor">
    <div class="contenedor-titulo">
      <h2>Acerca de</h2>
      <div class="btn-edit" onclick="cambiar_parrafo ()">
        <!--  1el onclick llama  a la funcion cambiar cambiar_parrafo  -->
        <a href="#" class="btn-ok">
          <i class="fa fa-pen"></i>
        </a>
      </div>
    </div>
    <div>
      <p id="text-acercade">{{miporfolio.about}}</p>
    </div>

    <div>
      <input id="edit-acercade" type="text" oninput="funcion2(this.value)" style="display: none">
    </div>
  </div>
