<div class="header">
    <div class="logo">
        <a href=""><img src="../../../assets/data/APLogo.png"> </a>
    </div>
    <div class="redesociales">
        <a href=""><img src="../../../assets/data/linkedin.png"> </a>
        <a href=""><img src="../../../assets/data/instagram.png"> </a>
        <a href=""><img src="../../../assets/data/github.png"> </a>
        <a href=""><img src="../../../assets/data/facebook.png"> </a>
        <a href=""><img src="../../../assets/data/twitter.png"> </a>
        <button type="butto" class="btn btn-outline-light">INGRESO</button>
    </div>
</div>