
.header{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
   margin-bottom: -30px;
   margin-top: -30px;
}    

.redesociales  {
    align-content: center;
    margin-right: 15PX;
    margin:5px;
}
.redesociales img {
    margin: 2px;
}

 


img{
    width: 48px;
}

.logo img{
    width: 250px;
}

.btn btn-outline-light {
    width: 70px;
}

.btn{
    border-width: medium;
    margin-left: 2px;
}

/*Celu*/
  
