<div class="contenedor" id="contenedorportada">
  <div class="row">
    <app-header></app-header>
  </div>
  <div id="perfil-portada">
    <img src="../../../assets/data/PortadaW.png" alt="imgportada">
  </div>
  <div id="info">
    <div class="info-img">
      <img class=img-perfil src="../../../assets/data/PerfilCanva.jpg" alt="fotoperfil">
      <div class="editarfoto"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div id=info-data>
      <div>
        <h1>{{miporfolio.name}}</h1>
        <div id="info-cia">{{miporfolio.posicion}} </div>
        <div class="info-contacto">
          <span>{{miporfolio.localidad}}</span>
          <span> <a href="#">Informacion de contacto </a></span>
        </div>
      </div>
      <div>
        <ul id="info-detalles">
          <li><a href="https://unr.edu.ar/">
              <img [src]="miporfolio.school.img" alt="UNR">
              <h2> UNR</h2>
            </a></li>
          <li><a href="https://utn.edu.ar/es/">
              <img src=" img/UTN.jpg" alt="UTN">
              <h2> UTN</h2>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="info-accion">
      <app-botones color="green" text="Tareas" (btnClick)="toggleAddTask()"></app-botones>
    </div>
  </div>
</div>