<div class="contenedor" id="contenedorportada">
    <div id="perfil-portada"><img src="img/Portada.png" alt="impportada"></div>
    <div id="info">
      <div class="info-img">
        <img class=img-perfil src="img/Denise1.jpg.jpeg" alt="fotoperfil">
        <div class="editarfoto"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
      </div>
      <div id=info-data>
        <div>
          <h1>Denise Paoloni</h1>
          <div id="info-cia">Contador Publico </div>
          <div class="info-contacto">
            <span> Rosario, Santa Fe (Argentina)</span>
            <span> <a href="#">Informacion de contacto </a></span>
          </div>
        </div>
        <div>
          <ul id="info-detalles">
            <li><a href="https://unr.edu.ar/">
                <img src="img/unr.png" alt="UNR">
                <h2> UNR</h2>
              </a></li>
            <li><a href="https://utn.edu.ar/es/">
                <img src=" img/UTN.jpg" alt="UTN">
                <h2> UTN</h2>
              </a></li>
          </ul>
        </div>
      </div>
      <div id="info-accion">
        <button type="button" class="btn btn-primary"> Tengo Interés en</button>
        <button type="button" class="btn btn-primary"> Añadir Sección</button>
        <button type="button" class="btn btn-primary"> Más</button>
      </div>
    </div>
  </div>
